body {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.9;
  width: 100%;
}

.wrap {
  overflow: hidden;
}

.top-message {
  text-align: center;
  font-size: 28px;
  color: #fff;
  background-color: #69cece;
  height: 50px;
  padding-top: 5px;
}

main {
  margin-top: 70px;
  background: #eee;
  width: 100%;
}

.row {
  background :rgb(201, 201, 201);
}

.container {
  margin: 0px auto;
  width: 400px;
  padding: 30px 0px 25px 10px;
  text-align: center;
}

#timer {
  background: rgb(58, 58, 58);
  height: 120px;
  line-height: 120px;
  font-size: 45px;
  margin-bottom: 15px;
  font-style: inherit;
   /*等幅フォント*/
  font-family:monospace;
  color: #fff;
}

.btn {
  width: 160px;
  height: 45px;
  line-height: 45px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .btn {
    width: 100px;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
    cursor: pointer;
  }
}

.btn#start {
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  background-color: red;
  padding-top: 10px;
}

.btn#stop {
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  background-color: blue;
  padding-top: 10px;
}

.btn#reset {
  font-weight: bold;
  color: #fff;
  border-radius: 50%;
  background-color: black;
  padding-top: 10px;
}

@media screen and (max-width: 959px) {
  .btn#start{
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    background-color: red;
    padding-top: 10px;
    margin-right: 10px;
  }

  .btn#stop {
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    background-color: blue;
    padding-top: 10px;
  }

  .btn#reset{
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    background-color: black;
    padding-top: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 599px) {
  .btn#start {
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    background-color: red;
    padding-top: 10px;
    margin-right: 10px;
  }

  .btn#stop {
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    background-color: blue;
    padding-top: 10px;
  }

  .btn#reset {
    font-weight: bold;
    color: #fff;
    border-radius: 50%;
    background-color: black;
    padding-top: 10px;
    margin-left: 10px;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.inactive {
  opacity: 0.15;
}

.use-management {
  margin: 30px;
  background-color: rgb(145, 203, 241);
  height: 200px;
  text-align: center;
}

@media screen and (max-width: 599px) {
  .use-management {
    text-align: center;
    width: 90%;
    margin: 30px;
    background-color: rgb(145, 203, 241);
    height: 200px;
  }
}

.use-role {
  font-weight: bold;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center
}

.use-describe {
  padding-top: 20px;
  padding-left: 30px;
  font-size: 18px;
}

@media screen and (max-width: 599px) {
  .use-describe {
    padding: initial;
  }
}

@media screen and (max-width : 599px) {
/*スマホ用のcssを記述*/

  .use-describe {
    padding-top: 20px;
    font-size: 16px;
  }
}

/* フッターを記述 */

.footer {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 90px;
  background-color: #69cece;
  height: 50px;
  padding-top: 10px;
}


@media screen and (max-width: 599px) {
  .footer {
    font-size: 14px;
  }
}

.use-describe p {
  text-align:left;
}

