body {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.9;
  width: 100%;
}

.top-message {
  text-align: center;
  font-size: 30px;
  color: #fff;
  background-color: rgb(93, 153, 255);
}

main {
  margin-top: 20px;
  background: #eee;
}

.row {
  background: #ddd;
}

.container {
  margin: 0px auto;
  width: 400px;
  padding: 25px;
  text-align: center;
  float: left;
  margin-left: 120px;
}

#timer {
  background: rgb(58, 58, 58);
  height: 120px;
  line-height: 120px;
  font-size: 45px;
  margin-bottom: 15px;
  border-radius: 50%;
  font-style: inherit;
  color: #fff;
}

.btn {
  width: 100px;
  height: 45px;
  line-height: 45px;
  background: #ddd;
  font-weight: bold;
  cursor: pointer;
}

.btn#start{
  color: red;
  border-radius: 10%;
}

.btn#stop {
  color: blue;
  border-radius: 10%;
}

.btn#reset{
border-radius: 10%;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.inactive {
  opacity: 0.3;
}

.reasion {
  margin-top: 30px;
  margin-left: 100px;
  padding: 15px;
  border-radius: 10px;
  border: solid 3px #6091d3;
}

footer .row {
  background: #fff;
}

.footer-wrapper{
	display: flex;
	margin-top: 50px;
	border-top: 1px solid gray;
	background-color: white;
}

.footer-left{
  padding: 30px 0px 30px 80px;
  font-size: 120%;
}

.footer-right{
  text-align: right;
  font-size: 120%;
	padding: 30px 80px 20px 0px;
}

ul {
  list-style: none;
}

@media screen and (max-width: 1024px) {
	.footer-left{
	padding: 30px 0px 30px 10px;
	font-size: 75%;

	}

	.footer-right{
	text-align: right;
	padding: 20px 10px 20px 0px;
	font-size: 75%;
	}
}