body {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  background: #eee;
}

header {
  text-align: center;
  font-size: 30px;
}

.first {
  margin-top: 50px;
  background:rgb(238, 13, 13);
}

.container {
  margin: 20px auto;
  width: 400px;
  background: #fff;
  padding: 15px;
  text-align: center;
  float: left;
  margin-left: 120px;
}

#timer {
  background: #ddd;
  height: 120px;
  line-height: 120px;
  font-size: 45px;
  margin-bottom: 15px;
  border-radius: 50%;
  font-style: inherit;
}

.btn {
  width: 100px;
  height: 45px;
  line-height: 45px;
  background: #ddd;
  font-weight: bold;
  cursor: pointer;
}

.btn#start{
  color: red;
  border-radius: 10%;
}

.btn#stop {
  color: blue;
  border-radius: 10%;
}

.btn#reset{
border-radius: 10%;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.inactive {
  opacity: 0.3;
}
.reasion {
  float: right;
  margin-right: 160px;
  background: #fff;
}